{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Nahom's Golang Mysql CRUD Proj.</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang Mysql CRUD Example</h1>
{{ end }}